@import url("https://fonts.googleapis.com/css?family=Shrikhand|Source+Serif+Pro:400,600,700|Questrial");
h1 {
  font-family: 'Shrikhand', cursive;
  color: #8b0126;
  font-size: 3rem;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

h2 {
  color: #512e25;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0rem;
}

h3 {
  color: #512e25;
  font-size: 3rem;
  margin: 1rem 0rem 1rem 0rem;
}

h4 {
  font-family: 'Shrikhand', cursive;
  color: #8b0126;
  font-size: 3rem;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-size: 1.5rem;
}

p {
  color: #512e25;
  font-family: 'Questrial', sans-serif;
}

a:hover, h4:hover {
  color: #F1F1C2;
  text-decoration: none;
  text-shadow: -1px 0 #512e25, 0 1px #512e25, 1px 0 #512e25, 0 -1px #512e25;
}

input {
  background-color: #F1F1C2;
  border: 1px solid #f76244;
}

input :focus, input :active {
  border: 3px solid #f76244;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px #f76244;
  box-shadow: 0px 0px 10px #f76244;
}

.container {
  margin: 0 auto;
  padding: 0;
  background: #eebd74;
  color: #512e25;
  font-family: 'Questrial', sans-serif;
}

.col-4 {
  margin: 0 auto;
  padding: 0;
  padding: 5%;
  height: 100%;
}

.col-right {
  margin: 0 auto;
  padding: 0;
}

#col-right__child {
  height: 100%;
  width: 100%;
}

.col-right__intro {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../images/desert-bike.png");
}

.col-right__details {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../images/plan-retro.png");
}

.col-right__passengers {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../images/shoulders.png");
}

.col-right__map {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../images/explore.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.btn {
  background-color: #8b0126;
  border-color: #eebd74;
  border: 1px solid #512e25;
  color: #eebd74;
  margin: 0.5em 0em 0.5em 0em;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary:focus {
  color: #512e25;
  background-color: #f76244;
  border: 1px solid #512e25;
}

.details {
  display: none;
}

.form {
  display: none;
}

.form-control-lg {
  margin: 1rem 1rem 1rem 0rem;
  background-color: #F1F1C2;
  color: #512e25;
}

.form-control-lg:focus {
  border-color: #8b0126;
  -webkit-box-shadow: 0 0 3px #6e824b;
          box-shadow: 0 0 3px #6e824b;
  background-color: #6e824b;
}

.form__passengers {
  margin-right: 2rem;
}

.details-list {
  list-style: none;
}

.vehicles {
  display: none;
}

.vehicle {
  opacity: 0.8;
  padding: 1rem;
  margin: 1rem;
}

.vehicle > img {
  width: 300px;
  height: 200px;
}

.is-selected {
  opacity: 1;
  border: solid 5px #512e25;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px #f76244;
  box-shadow: 0px 0px 20px #f76244;
}

.vehicle-options {
  margin: 0.5rem;
  border-radius: 5px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.motorbike, .small-car, .big-car, .camper {
  display: none;
  background: #eebd74;
  border: 3px solid #eebd74;
  border-radius: 10px;
}

.motorbike > ul, .small-car > ul, .big-car > ul, .camper > ul {
  list-style: none;
}

.mapboxgl-canvas {
  overflow: hidden;
  width: 100%;
}

.directions-icon {
  background-color: #f76244;
}

.directions-icon-arrive {
  background-color: #8b0126;
}

.mapbox-directions-inputs, .mapboxgl-ctrl-geocoder {
  font-family: 'Questrial', sans-serif;
}

.mapbox-directions-origin > .mapbox-form-label {
  background-color: #512e25;
}

.mapbox-directions-destination > .mapbox-form-label {
  background-color: #8b0126;
}

.mapbox-directions-profile {
  display: none;
}
/*# sourceMappingURL=style.css.map */